@model LanchesWeb.Models.Snack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Snack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainThumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainThumbnail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStarred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStarred)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SnackCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SnackCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
