@model Snack
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.MainImage" width="360" height="240" alt="@Model.ShortDescription">
    <div class="card-body">
        <a class="card-title" asp-controller="Snack" asp-action="Details" asp-route-snackid="@Model.Id">@Model.Name</a>
        <p class="card-text">@Model.LongDescription</p>
        <p class="card-text">@Model.Price.ToString("c")</p>
    </div>
    <div class="card-footer">
        <a asp-controller="ShoppingCart" asp-action="AddItem" asp-route-snackid="@Model.Id" class="btn btn-outline-primary">
            <span class="material-icons">add</span> Add to cart
        </a>
        <a asp-controller="Snack" asp-action="List">See all burguers</a>
    </div>
</div>