@model ShoppingCartViewModel
    <p class="text-danger">@ViewBag.ModelMessage</p>

    <div class="row">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Total</th>
                    <th class="text-right">Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ShoppingCartItem item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantity</td>
                        <td class="text-left">@item.Snack.Name</td>
                        <td class="text-center">@item.Snack.Price.ToString("c")</td>
                        <td class="text-right">@((item.Snack.Price * item.Quantity).ToString("c"))</td>
                        <td class="text-center"><a class="material-icons" asp-action="RemoveItem" asp-route-snackid="@item.Snack.Id">delete_outline</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Total: @Model.TotalPrice.ToString("c")</td>
                </tr>
            </tfoot>
        </table>

        <div>
            <div class="btn-group">
                <form asp-action="Checkout" asp-controller="Order" method="get">
                    <input class="btn btn-success" type="submit" value="Checkout" />
                </form>
                @*<a class="btn btn-success" asp-controller="Order" asp-action="Checkout" >Checkout</a>*@
                <a class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Add More Items <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item">
                            <a asp-controller="Snack" asp-action="List" asp-route-snackcategory="Para Todo Dia">Para Todo Dia</a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-controller="Snack" asp-action="List" asp-route-snackcategory="Gourmet">Gourmet</a>
                        </li>
                    </ul>
                </a>
            </div>
        </div>

    </div>